# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

#games
gameData/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings (optional, if you use VS Code)
.vscode/

# macOS system files
.DS_Store

# Secrets
keys/